*{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

body{
    background-image: linear-gradient(
        to bottom,
        #e11384f0,
        #e11384f0
    ), url("./assets/DunkinPattern.jpg");
    background-size: cover;
    margin: 0;
}

.general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.banner img{
    width: 200px;
}

.banner{
    background-color: white;
    width: 100%;
    padding: 30px;
}

p{
    font-size: 13pt;
    color: white;
}

.segundo-texto{
    width: 250px;
}

.primer-texto p{
    margin: 10px;
    font-weight: 600;
}

button{
    padding: 15px 80px 15px 80px;
    font-size: 13pt;
    border-radius: 15px;
    border: none;
    background-color: white;
    color: #683817;
    font-weight: bold;
}

.primer-texto img{
    width: 270px;
}

button:hover{
    cursor: pointer;
}