*{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

body{
    background-image: linear-gradient(
        to bottom,
        #643b15e9,
        #643b15e9
    ), url("./assets/DunkinPattern.jpg");
    background-size: cover;
    margin: 0;
}

.general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.banner img{
    width: 330px;
}

p{
    font-size: 13pt;
    color: white;
}

.segundo-texto{
    width: 250px;
}

.primer-texto p{
    margin: 10px;
    font-weight: 600;
}

a{
    padding: 15px 80px 15px 80px;
    font-size: 13pt;
    border-radius: 15px;
    border: none;
    background-color: #FE6D01;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

.primer-texto img{
    width: 270px;
}